* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-size: 17px;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    font-family: 'roboto', Helvetica, Arial, Lucida, sans-serif;
    font-size: 17px;
}



.header {
    padding: 0 40px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d7e0e3;
    box-shadow: 0 1px 5px 1px rgb(0 0 0 / 20%);
    z-index: 1;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header img {
    width: 140px;
}

.header-burger-menu {
    display: none;
}

.header .header-navigation {
    display: flex;
}

.header .header-navigation a {
    color: #023359;
    font-family: 'Adam medium', Helvetica, Arial, Lucida, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 35px 14px;
}

.header .header-navigation a:hover {
    color: white;
    background-color: #023359;
}

.mobile-menu {
    max-height: 0;
    overflow: hidden;
}

.main {
    padding: 150px 0;
    flex-grow: 1;
    background-size: cover;
    background-blend-mode: overlay;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
    padding: 40px;
    background-color: #d7e0e3;
    max-width: 1000px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: stretch;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #d7e0e3;
    border-top: 1px solid #023359;
    padding: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    color: #023359;
    font-size: 14px;
    gap: 40px;
}

footer a {
    color: #023359;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-shrink: 0;

}

.address h3 {
    margin-bottom: 20px;
}

.address a {
    font-size: 15px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.about h3 {
    margin-bottom: 10px;
}

.about p {
    line-height: 1.5;
}


.footer-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-nav-link {
    border: 1px solid white;
    padding: 16px;
}

.address-2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 12px;
}

.social-media img {
    width: 26px;
}

.social-media a:nth-child(3) img {
    width: 20px;
}

.social-media a:last-child img {
    width: 22px;
}

.social-media a:last-child {
    align-self: flex-start;
}

.home-page .footer-nav-link {
    margin-left: auto;
}

.board-members-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding: 20px;
}

.board-member {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.board-member>img {
    width: 200px;
    aspect-ratio: 10/8;
    object-fit: cover;
    object-position: center;
    padding: 4px;
}

.prod>img {
    width: 56px;
    aspect-ratio: 10/8;
    object-fit: cover;
    object-position: center;
    padding: 4px;
}
.prod>h3{
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    color: #023359;
}
.proj>h3{
    font-size: 15px;
}
.proj>img {
    width: 55px;
}

.board-member>h3 {
    font-weight: 500;
    color: #023359;
}

.member-social-media img {
    width: 20px;
}

.about-page .main .container .content {
    gap: 20px;
}


.about-page .main .container .content>img {
    object-fit: cover;
    object-position: center;
    height: 200px;
}

.about-page .main .container .content>h2 {
    text-align: center;
    text-transform: uppercase;
}

.about-mission-statements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}

.about-mission-statements img {
    width: 30px;
}

.about-mission-statements p {
    max-width: 500px;
    text-align: center;
    padding-bottom: 15px;
}

.about-mission-statements h3 {
    font-size: 20px;
}

.our-policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 350px;

}

.our-policy img {
    width: 30px;

}

.organogram-heading {
    font-size: 20px;
    margin: 40px 0 30px;
}

.organogram-image {
    width: 100%;
    height: auto !important;
    margin-bottom: 40px;
}

.product-details h2 {
    margin-bottom: 12px;
}

.product-details p:not(:last-child) {
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.contact-form>* {
    width: 100%;
}

.contact-form input {
    width: calc(50% - 8px);
    padding: 20px;
    background-color: #EEEEEE;
    outline: none;
    border: none;
    font-family: 'Quicksand', Helvetica, Arial, Lucida, sans-serif;
}

.contact-form input::placeholder {
    font-size: 18px;
}

.contact-form h2 {
    font-size: 20px;
}

.contact-form button {
    display: block;
    margin: 0 0 0 auto;
    width: auto;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 18px;
    background-color: white;
    border-radius: 4px;
    transform: translateY(10px)
}

.contact-form textarea {
    padding: 20px;
    background-color: #EEEEEE;
    outline: none;
    border: none;
    font-family: 'Quicksand', Helvetica, Arial, Lucida, sans-serif;
}

.contact-form textarea::placeholder {
    font-size: 18px;
}

.sustainability-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
}

.sustainability-items-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.sustainability-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    width: calc(50% - 15px);
}

.sustainability-item img {
    width: 30px;
    height: auto !important;
}

.sustainability-item > div > h3 {
    font-size: 15px;
    margin-bottom: 4px;
    color: #023359;
}

.product-specification-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.sustainability-item > div > p {
text-align: justify;
}

.product-specification {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: calc(50% - 15px);
}

.product-specification img {
    width: 39px;
    height: auto !important;
}

.product-specification > div > h3 {
    font-size: 18px;
    margin-bottom: 4px;
}
.product-specification > div > p {
    text-align: center;
}

.cfzoom {
    animation: zoom-in-zoom-out 2s ease;
}

.sbutton{
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
      
}

/* .translateY {
    animation: translate-vertically 2s ease;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
} */

@keyframes zoom-in-zoom-out {
    0% {
        opacity: 0;
        transform: scale(0.7, 0.7);
    }

    20% {
        opacity: 0;
        transform: scale(0.7, 0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes translate-vertically {
    0% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(0px)
    }
}

.map {
    width: 100%;
}

.map .gmap_canvas {
    width: 100% !important;
    height: 500px !important;
    margin-top: 20px;
}

.newsroom-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.newsroom-card {
    width: calc(33.33% - 16px);
    aspect-ratio: 1;
    position: relative;

}

.newswroom-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.newsroom-card-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, #000 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 16px 28px 28px;
}

.newsroom-card-content span {
    font-size: 14px;
}

@media (max-width: 992px) {
    .header {
        background-color: white;
        background-image: none;
        position: relative;
    }
    .sbutton{
        margin-right: 25px;
    }

.sustainability-text p, h3{
text-align: center !important;
}


    .header-container {
        height: auto;
        flex-direction: column;
    }

    .header .header-navigation {
        display: none;
    }

    .header #logo {
        width: 260px;
        margin: 20px 0 0;
    }

    .header .header-burger-menu {
        display: block;
        width: 20px;
        margin: 20px 0;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        width: 100%;
        top: calc(100% - 1px);
        left: 0;
        transition: max-height 0.6s, padding 0.6s;
        overflow: hidden;
    }

    .mobile-menu a {
        padding: 16px 20px;
        color: #1D4851;
        font-family: 'Adam medium', Helvetica, Arial, Lucida, sans-serif;
        font-size: 20px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .mobile-menu a:hover {
        color: white;
        background-color: #1D4851;
    }

    .main {
        padding: 0;
    }

    .container {
        padding: 0;
    }

    .home-page .main .container .content {
        gap: 0;
    }

    .home-page .main .container {
        gap: 0;
    }



    .product-details {
        padding: 0 20px;
    }

    .contact-form {
        padding: 0 24px 12px;
    }

    .contact-page .main .container {
        gap: 0;
    }

    .newsroom-cards {
        padding: 0 30px;
    }

    .sustainability-content {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 20px;
    }

    .footer-container {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        gap: 40px;
    }

    .footer-navigation {
        max-width: 400px;
        margin: 20px auto 0;

    }

    .newsroom-card {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .sustainability-items-container {
        flex-direction: column;
    }

    .sustainability-item {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    .sustainability-item p {
        text-align: center;
    }
}

@media (max-width: 568px) {
    .contact-form input {
        width: 100%;
    }
}